 .landing-page a {
   text-decoration: none;
   color: #1ab188;
   transition: 0.5s ease;
 }

 .landing-page a:hover {
   color: #179b77;
 }

 .landing-page {
   background: rgba(19, 35, 47, 0.9);
   padding: 40px;
   max-width: 600px;
   margin: 100px auto;
   border-radius: 4px;
   box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);

 }

 .tab-group {
   list-style: none;
   padding: 0;
   margin: 0 0 40px 0;
 }

 .tab-group:after {
   content: "";
   display: table;
   clear: both;
 }

 .tab-group li a {
   display: block;
   text-decoration: none;
   padding: 15px;
   background: rgba(160, 179, 176, 0.25);
   color: #a0b3b0;
   font-size: 20px;
   float: left;
   width: 50%;
   text-align: center;
   cursor: pointer;
   transition: 0.5s ease;
 }

 .tab-group li a:hover {
   background: #179b77;
   color: #ffffff;
 }

 .tab-group .active a {
   background: #1ab188;
   color: #ffffff;
 }

 .tab-content>div:last-child {
   display: none;
 }

 h1 {
   text-align: center;
   color: #ffffff;
   font-weight: 300;
   margin: 0 0 40px;
 }

 .landing-page label {
   color: rgba(255, 255, 255, 0.5);
   font-size: 22px;
   padding: 10px 0;
 }

 .landing-page input {
   font-size: 22px;
   display: block;
   width: 100%;
   height: 100%;
   padding: 5px 10px;
   background: none;
   background-image: none;
   border: 1px solid #a0b3b0;
   color: #ffffff;
   border-radius: 0;
   transition: border-color 0.25s ease, box-shadow 0.25s ease;
 }

 .landing-page input:focus {
   outline: 0;
   border-color: #1ab188;
 }

 .field-wrap {
   position: relative;
   margin-bottom: 40px;
 }

 .button {
   border: 0;
   outline: none;
   border-radius: 0;
   padding: 15px 0;
   font-size: 2rem;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 0.1em;
   background: #1ab188;
   color: #ffffff;
   transition: all 0.5s ease;
   -webkit-appearance: none;
   display: block;
   width: 100%;
   text-align-last: center;
 }

 .button:hover,
 .button:focus {
   cursor: pointer;
   background: #179b77;
 }

 .loading {
   position: relative;
   width: 100%;
   height: 100vh;
   background: rgba(0, 0, 0, 0.2);
   text-align: center;
 }

 .loading img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
