body {
  min-width: 100vw;
  overflow: hidden;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.brand,
.header ul {
  float: left;
}

/*  */
.slide-list {
  float: left;
  width: calc(20% - 10px);
}


.slide-wrapper {
  float: right;
  margin: 0 auto;
  width: 80%;
  position: relative;
}
