.header {
  padding: 10px 0;
}

.header li {
  display: inline-block;
  line-height: 40px;
  margin: 0 10px;
  list-style: none;
}

.header li a {
  line-height: 40px;
  margin: 0 10px;
}

.dropdown-container {
  display: inline-block;
}

.btn {
  background: none;
  outline: none;
  border: none;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  padding: 5px 10px;
  border: 1px solid #fff;
}

.btn:hover {
  border: 1px solid gray;
  color: #FFF;
  background-color: green;
  border-radius: 5px;
}

.dropdown-list {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown-list div,
.dropdown-list span {
  padding: 0px 15px;
  cursor: pointer;
  text-align: left;
}

.font-size-input input[type=number] {
  width: 60px;
  padding-left: 5px;
}

.header li .fa {
  margin: 0 2.5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}

.activeTool {
  border-radius: 5px;
  background: gray;
}

[data-tooltip] {
  position: relative;
  cursor: default;
}

[data-tooltip]::after {
  position: absolute;
  color: #fff;
  background-color: #000;
  left: -30px;
  width: 70px;
  bottom: -30px;
  padding: 0 5px;
  content: attr(data-tooltip);
  border-radius: 15px;
  font-size: 9px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s, transform 0.2s;
}

[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateY(0)
}

/* Main content style (ie slide) */

.slide-list {
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  border: 1px solid #AAA;
}

.slide-list .slide-body {
  border: none;
}

.slide-list .slide-body {
  margin-top: 10px;
  cursor: pointer;
  position: relative;
}

.thumbnail {
  height: 18vh;
  margin: 30px auto;
  width: 80%;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.thumbnail .delete {
  display: none;
}

.thumbnail:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15), 0 3px 4px rgba(0, 0, 0, 0.13);
}

.thumbnail.active {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.22);
}

.thumbnail.active .delete {
  display: inline;
}

.thumbnail .delete::after {
  content: "Delete";
  position: absolute;
  right: -10px;
  top: -10px;
  visibility: hidden;
  opacity: 0;
  color: #e44;
  transform: translateY(10px);
  transition: opacity 0.3s,
    transform 0.2s;
}

.thumbnail .delete:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px)
}


.slide {
  border: 1px solid gray;
  padding: 10px;
  height: 100%;
  display: none;
}

.slide-body {
  border: 1px solid black;
}

.slide.activeSlide {
  display: block;
}

.main-content {
  padding: 10px;
  position: relative;
  box-sizing: border-box;
}

div[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  color: gray;
}

div[contenteditable=true] {
  border: 1px dashed #AAA;
  width: 100%;
  padding: 5px;
  height: 100%;
}

div[contenteditable="true"]:hover {
  background-color: rgba(217, 245, 255, 0.5);
}

.show {
  display: block;
}

.resizer {
  position: absolute;
  right: -4px;
  bottom: -4px;
  cursor: nwse-resize;
  width: 10px;
  display: none;
  height: 10px;
  background-color: "#fff";
  border: 2px solid #AAA;
  border-radius: 50%;
}

.dragger {
  position: absolute;
  width: 100%;
  top: 0;
  height: 5px;
  cursor: grab;
}


.elem-rotator {
  position: absolute;
  top: -20px;
  left: 50%;
  border-radius: 50%;
  border: 1px solid #AAA;
  transform: translateX(-50%);
  height: 8px;
  width: 8px;
  cursor: url("../img/rotate.ico");
  display: none;
}

.elem-rotator::after {
  content: "";
  width: 1px;
  height: 10px;
  background-color: #AAA;
  position: absolute;
  text-align: center;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.fullscreen {
  padding: 30px;
}

/* Full screen style */
.slide-wrapper:fullscreen {
  background-color: #fff;
}
